{
 "askHost": "{{ .Env.ASK_URL }}",
 "recaptcha": "{{ .Env.RECAPTCHA }}",
 "published_base_url": "{{ .Env.PUBLISHED_BASE_URL }}",
  "s3": {
    "bucket": "{{ .Env.S3_BUCKET }}",
    "region": "{{ .Env.AWS_REGION }}",
    "accessKeyId": "{{ .Env.AWS_ACCESS_KEY_ID }}",
    "secretAccessKey": "{{ .Env.AWS_ACCESS_KEY }}"
  }
}
