#app {
	height: 100%;
}

#ask-form {
  margin: auto;
}

#ask-form h3 {
	font-size: 11pt;
	margin: 0 0 10px 0 ;
	color: #999;
}

#ask-form .ask-form-option {
	width: 100%;
  box-sizing: border-box;
}

@media (min-width: 480px) {
  #ask-form .ask-form-option {
    width: 49%;
  }
}


